.ta-left {
  text-align: left;
}
.ta-center {
  text-align: center;
}
.ta-right {
  text-align: right;
}
.fullwidth {
  width: 100%;
}
html,
body {
  height: 100%;
}
#main {
  height: 100%;
}
.cart-app {
  display: table;
  height: 100%;
  width: 800px;
  margin: 0 auto;
}
.cart-app > div {
  display: table-cell;
  vertical-align: middle;
}
.cart-btn {
  color: #000000;
  text-decoration: none;
  outline: none;
}
.cart-block table tr th {
  white-space: nowrap;
}
.cart-block table tr td {
  width: 100%;
}
.cart-block table tr:nth-child(even) td {
  background-color: #F2F2F2;
}
.cart-col {
  min-width: 50px;
  width: 50px;
}
.cart-row {
  height: 30px;
  line-height: 30px;
}
.cart-row:hover .cart-remove-btn {
  visibility: visible;
}
.cart-row .cart-col:first-child {
  padding: 0px;
  width: 30px;
  min-width: 30px;
}
.cart-sort-switcher {
  cursor: pointer;
  position: relative;
}
.cart-sort-switcher .fa {
  position: absolute;
  right: -12px;
}
.cart-sort-switcher .fa.fa-sort-asc {
  top: 5px;
}
.cart-sort-switcher .fa.fa-sort-desc {
  top: -2px;
}
.cart-remove-btn {
  display: block;
  visibility: hidden;
  cursor: pointer;
}
.cart-footer {
  padding: 0.5em 1em;
}
